h1 {
  font-family: 'Comic Neue', cursive;
  font-size: 100px;
  color: red;
  margin: 80px 50px 0 50px;
  text-align: center;
}
body {
  /*background-image: url('https://cdn.drawception.com/images/panels/2012/10-23/PqxaOcb8t1-6.png');*/
  
  background: url('https://cdn.drawception.com/images/panels/2012/10-23/PqxaOcb8t1-6.png') no-repeat center fixed;
  background-size: cover;
}
div {
  display: block;
  margin: 200px 100px 200px 900px;
}
label {
  color: teal;
  font-size: 30px;
  font-weight: 700;
  font-family: 'Helvetica';
}
input {
  height: 40px;
  font-size: 25px;
}
button {
  font-family: 'Helvetica';
  font-size: 25px;
  font-weight: 700;
  background-color: red;
  height: 50px;
  width: 200px;
  cursor: pointer;
}
button:hover {
  height: 75px;
  width: 300px;
}
